$selection: #eaeaea;

/* Brand colours */
$primary: #326b74;
$primarylight: #57a58d;
$primarydark: #1a445a;

$primarylighttone: #d9e8e3;

$grey: #f0f2f2;
$greylight: #fcfcfc;
$greydark: #2f3438;

$greytone: #8f9395;